
veracode-firewall-demo==0.1.0

# --- Known Vulnerable Packages (CVE) ---
Django==4.2.13          
requests==2.19.1         # CVE-2018-18074 
pyyaml==5.1             # CVE-2017-18342 
urllib3==1.24.2        # CVE-2019-11324
flask==0.12.2          # CVE-2018-1000656
jinja2==2.10           # CVE-2019-10906
markdown==2.6.11       # CVE-2018-1002205
werkzeug==0.16.1       # CVE-2020-28724

# --- General Project Dependencies ---
asgiref==3.8.1
certifi==2022.9.14
distlib==0.3.8
filelock==3.14.0
platformdirs==4.2.2
sqlparse==0.4.2
django-rest-framework==0.1.0  
moment==0.12.1
httplib2==0.17.4
cryptography==35.0.0
passeo==1.0.4
ecdsa==0.18.0b1
pyotp==2.9.0
